{% extends "layout.html" %}

{% block title %}
    Cleaningshifts
{% endblock %}

{% block main %}
  {% if message %}
      <div>
          {{ message }}
      </div>
  {% endif %}
  <form action="/add_cleanshift" method="post">
    {% csrf_token %}
    <div class="form-group">
      Name: {{ user }}
    </div>
    {% if not request.user.is_superuser %}
      <div class="form-group">
        Room: {{ booking.roomnumber }}
      </div>
    {% else %}
    <div class="form-group">
      Room: <br>
      <input type="number" name="roomnumber" value="1" min="1">
    </div>
    {% endif %}
    <div class="form-group">
    Date: <br>
    <input type="text" name="start_date" placeholder="YYYY-MM-DD" required
          pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
          title="Enter a date in this format YYYY-MM-DD"/>
    </div>
    {% if not request.user.is_superuser %}
      <div class="form-group">
          <button class="btn btn-primary" type="submit" name="roomnumber" value="{{ booking.roomnumber }}">Submit</button>
      </div>
    {% else %}
      <div class="form-group">
          <button class="btn btn-primary" type="submit" name="roomnumber">Submit</button>
      </div>
    {% endif %}
  </form>
{% endblock %}
