{% extends "layout.html" %}

{% block title %}
    Log In outsider
{% endblock %}

{% block main %}
  {% if message %}
      <div>
          {{ message }}
      </div>
  {% endif %}
</head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1>Login as Outsider</h1>
          <div class="card">
            <div class="card-body">
              <div id="join">
                <form method="post" action="/register">
                  {% csrf_token %}
                  <div class="form-group">
                    <div class='input-group'>
                        <input type='text' name='username' class="form-control" placeholder="Enter your username">
                        <div class='input-group-append'>
                          <button onclick='return redirect()' class='btn btn-primary'>Join</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
