{% extends "layout.html" %}

{% block title %}
    Reserve
{% endblock %}

{% block main %}
  {% if message %}
      <div>
          {{ message }}
      </div>
  {% endif %}
  <form action="show_rooms" method="post">
    {% csrf_token %}
    <p>
      Date: <br>
      <input type="text" name="daterange" readonly>
    </p>
    <p>
      Minimum capacity of people: <br>
      <input type="number" name="capacity" min="1" max="4" value=1>
    </p>
    <button class="btn btn-primary" type="submit">Search</button>
  </form>

  <script>
    $('input[name="dates"]').daterangepicker();
    $(function() {
      $('input[name="daterange"]').daterangepicker({
        opens: 'left'
      }, function(start, end, label) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
    });
  </script>
{% endblock %}
