{% extends "layout.html" %}

{% block title %}
    Reserve
{% endblock %}

{% block main %}
    <h4>Arrival and Departure</h4>
    {% if message %}
        <div class="form-group">
            {{ message }}
        </div>
    {% endif %}
    <form action="/show_rooms" method="post">
      {% csrf_token %}
      <div class="form-group">
        Date:
        <input type="text" name="datefilter" readonly>

        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </form>

  <script>
    $(function() {

      $('input[name="datefilter"]').daterangepicker({
          autoUpdateInput: false,
          locale: {
              cancelLabel: 'Clear'
          }
      });

      $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
          $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
      });

      $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
          $(this).val('');
      });

    });
  </script>
{% endblock %}
